$font-stack: 'Bai Jamjuree', sans-serif

@mixin gradient()
  background: linear-gradient(to right, #B16CEA, #FF5E69, #FF8A56, #FFA84B)
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent

@mixin btn-gradient()
  background: linear-gradient(to right, #B16CEA, #FF5E69, #FF8A56, #FFA84B)
  background-size: 200% 100%
  color: $lt-primary

  &:hover
    background-position: -100% 0

  &:active
    background-position: 0 0

@mixin btn-gradient-bw($start-color, $end-color)
  background: linear-gradient(to right, $start-color, $start-color, $start-color, $end-color, $end-color)
  background-size: 200% 100%
  color: $end-color
  border: solid 1px $end-color

  &:hover
    background-position: -100% 0
    border: none
    color: $start-color

  &:active
    background-position: 0 0
    color: $end-color


.btn
  border: none
  border-radius: 25px
  cursor: pointer
  font-family: $font-stack
  font-size: 1rem
  font-weight: 400
  padding: 0.8rem 1rem
  transition: all 0.3s ease-in-out
  font-weight: 600
  width: 10rem
  &:hover
    transition: all 0.3s ease-in-out

.btn-white
  @include btn-gradient-bw($lt-primary, $bl-secondary)
  

.btn-black
  @include btn-gradient-bw($bl-primary, $lt-primary)

.btn-gradient
  @include btn-gradient()
