.social-media
    display: flex
    justify-content: space-around
    width: 8rem
    a
        width: 2rem
        img
            border-radius: 100%
            transition: all 0.3s ease-in-out
            width: 2rem
            &:hover
                cursor: pointer
                transition: all 0.3s ease-in-out
                transform: scale(1.2)
    
    
    
.cover-letter-container
    .cover-title
        color: $lt-primary
        font-weight: 500
        margin: 5vh 0 0 4rem
        width: 80%
        h1
            font-size: 4rem
            font-weight: 600
            margin: 1rem 0

        p
            font-size: 1rem
            font-weight: 400
            margin: 2rem 0

    .cover-buttons
        display: flex
        margin: 1rem 4rem
        width: 30%
        .btn
            margin: 0 2rem 0 0

    img
        border-radius: 5px
        margin: 20vh 0 0 4rem
        width: 15rem

.project-container
    background-color: $bl-secondary
    display: flex
    flex-direction: column
    margin: 10vh 0 0 0
    padding: 5vh 0 0 0
    width: 100%

    .title-project-container
        align-items: center
        display: flex
        justify-content: space-between

    h3
        font-size: 1.8rem
        font-weight: 600
        margin: 0 0 2rem 4rem

    p
        color: $lt-primary
        font-size: 1rem
        margin: 0 15rem 0 0 
        
        a
            color: $lt-primary
            font-weight: 600
            text-decoration: none
            transition: all 0.3s ease-in-out
            &:hover
                font-size: 1.1rem
                color: $lt-secondary
                transition: all 0.3s ease-in-out

.project-content
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-gap: 0rem
    width: 80%

.container-card
    align-items: center
    background-color: $bl-primary
    border-radius: 15px
    height: fit-content
    margin: 2rem 0 2rem 4rem
    padding: 0 0 1rem 0
    width: 45vh

    h3
        color: $lt-primary
        font-size: 1.3rem
        font-weight: 500

    h3, a
        margin: 1rem

    p
        color: $lt-primary
        font-size: 0.8rem
        font-weight: 200
        margin: 1rem 0
        padding: 0 1rem
    
    a
        color: $lt-primary
        font-weight: 400
        text-decoration: none
        transition: all 0.3s ease-in-out
        &:hover
            color: $lt-secondary
            font-size: 1.1rem
            font-weight: 500
            transition: all 0.3s ease-in-out

    img
        border-radius: 10px 10px 0 0
        width: 100%

.about-container
    display: flex
    flex-direction: column

    .about-header
        margin: 5vh 0 0 4rem

        h2
            font-size: 1.5rem
            font-weight: 200
            margin: 0 0 2rem 0


    .about-content
        display: flex
        justify-content: space-between
        margin: 5vh 0 0 4rem
        width: 80%
        
        div
            width: 40%

            p
                font-weight: 400
                font-size: 1.1rem
                margin: 0 0 4rem 0